
<%- include('./header'); %>
<style>
    #articleContent{
        overflow:hidden;
        height:100px;
    }
</style>
<%if(!newData.bool) {%>
<div class="loginPanel">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">登录</li>
            <li>注册</li>
        </ul>
        <div class="layui-tab-content">
            <!--登录-->
            <div class="layui-tab-item layui-show">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="user" required lay-verify="required" placeholder="请输入用户名"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码框</label>
                        <div class="layui-input-inline">
                            <input type="password" name="pwd" required lay-verify="required" placeholder="请输入密码"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">巴拉巴拉</div>
                    </div>

                    <!--按钮区域-->
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="login">登录</button>
                            <button type="reset" id="resetLog" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>

            <!--注册-->
            <div class="layui-tab-item">
                <form class="layui-form"><!--对register发送请求,后端需要对其进行监听存储数据-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="user" required lay-verify="user" placeholder="请输入标题"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码框</label>
                        <div class="layui-input-inline">
                            <input type="password" name="pwd" id="pwd" required lay-verify="pwd" placeholder="请输入密码"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">辅助文字</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认密码框</label>
                        <div class="layui-input-inline">
                            <input type="password" name="pwd2" required lay-verify="pwd2" placeholder="再次确认密码"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">辅助文字</div>
                    </div>

                    <!--按钮区域-->
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="register">注册</button>
                            <button type="reset" id="resetReg" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<%} else{%>

<div class="articlePanel">
    <ul>
        <%newData.contentData.forEach(item=>{%>
            <li>
                <h><%=item.title%></h>
                <p>发布时间:<%=item.date.toLocaleDateString()%>  浏览量:<%=item.pageviews%></p>
                <p id="articleContent"><%=item.content%></p>
            </li>
        <%})%>
    </ul>
</div>
<%}%>

<script>
    //处理文章内容包含了标签的问题
    $(function() {
        // $("#articleContent").html("<p>你是一头猪</p>").text()
        // $("#articleContent").text($("#articleContent").text())
       $("#articleContent").text($($("#articleContent").text()).text());
        console.log($("#articleContent").text());
        // $("#articleContent").text($("#articleContent").text());
        // console.log($("#articleContent").text());
    })




    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        const element = layui.element;
    });

    //表单依赖
    layui.use(['form', 'layer'], function () {
        const form = layui.form;
        const layer = layui.layer;

        //表单验证
        form.verify({
            user: function (value, item) { //value：表单的值、item：表单的DOM对象,user对应input里lay-verify的值
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
            }

            //我们既支持上述函数式的方式，也支持下述数组的形式
            //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
            , pwd: [ //验证密码
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            //再次确认密码验证
            , pwd2: function (value, item) {
                //得到第一次输入密码的值,进行匹配
                let pwdValue = document.getElementById("pwd").value;
                // var pwdValue = $("#pwd").val();
                if (value !== pwdValue) {
                    return "两次密码输入不一致"
                }
            }
        });

        //监听提交
        form.on('submit(register)', function (data) {//注submit括号里对应监听的按钮的lay-filter值
            // console.log(layer.msg(JSON.stringify(data.field)));
            // console.log(data.field);//输出为对象{title: "cy1234", pwd: "cy1234", pwd2: "cy1234"}
            //让注册信息通过ajax发送
            $.ajax({
                method: "POST",
                url: "/register",
                data: data.field,
                dataType: "json",
                success: function (data) {
                    //对注册结果进行处理
                    if (data.code) {//表示注册失败
                        //弹出失败弹框
                        layer.msg(data.msg, {
                            icon: 5,
                            time: 600
                        }, function () {
                            //让内容重置,获取重置按钮使其点击起到效果
                            $("#resetReg").click();
                        });
                    } else {//注册成功,弹窗再跳转到usercenter界面
                        layer.msg(data.msg, {
                            icon: 1,
                            time: 600
                        }, function () {
                            window.location.href = "/usercenter";
                        })
                    }
                }
            });
            return false;//阻止默认事件
        });

        //监听登录
        form.on('submit(login)', function (data) {
            $.ajax({
                method: "post",
                url: "/login",
                data: data.field,
                success: function (data) {
                    //对注册结果进行处理
                    if (data.code) {//表示注册失败
                        //弹出失败弹框
                        layer.msg("登录失败", {
                            icon: 5,
                            time: 600
                        }, function () {
                            //让内容重置,获取重置按钮使其点击起到效果
                            $("#resetLog").click();
                        });
                    } else {//注册成功,弹窗再跳转到usercenter界面
                        layer.msg("登录成功", {
                            icon: 1,
                            time: 600
                        }, function () {
                            window.location.href = "/usercenter";
                        })
                    }
                }
            });
            return false;
        })


    });


    // function fn() {
    //     $.ajax({
    //         method: "POST",
    //         url: "http://localhost:8888/register",
    //         data:{user:"afei",pwd:1234,pwd2:1234},
    //         success: function (data) {
    //             console.log("成功")
    //         }
    //     })
    // }

    // let str = "";
    // if(data.code == 1) {
    //     str = "密码错误";
    // }
    // if(data.code == 2) {
    //     str = "用户名不存在"
    // }
    // if(data.code == 3) {
    //     str = "服务器出问题啦,请重试!";
    // }

</script>
</body>
</html>